<div class="center container">
<div class="jumbotron">
  <h1>The Masterdev</h1>
  <h2>L'éducation de la programmation</h2>
  <p> <%= link_to "Lire le blog", '#', class: "btn btn-primary btn-lg" %> </p>

</div>
</div>
