<div class="container">
  <footer>
    <small>
      <%= link_to "The Masterdev", "#" %> by Alex TGS
    </small>
    <nav>
      <ul>
        <li> <%= link_to "blog", articles_path %></li>
        <li> <%= link_to "A propos", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
